DB_HOST=db
DB_PORT=5432
DB_NAME=testdb
DB_USER=testuser
DB_PASSWORD=1234
DB_SSLMODE=disable

# Docker
POSTGRES_USER=testuser
POSTGRES_PASSWORD=1234
POSTGRES_DB=testdb

JWT_SECRET=jwt-mega-secret-key-123456789

REDIS_URL=cache:6379